
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-621442862609073127.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-621442862609073127.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-621442862609073127.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-621442862609073127.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-621442862609073127.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-621442862609073127.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-621442862609073127.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-621442862609073127.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-621442862609073127.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-621442862609073127.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-621442862609073127.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-621442862609073127.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-621442862609073127.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-621442862609073127.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-621442862609073127.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-621442862609073127.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-621442862609073127.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-621442862609073127.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-621442862609073127.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-621442862609073127.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-621442862609073127.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-621442862609073127.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-621442862609073127.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-621442862609073127.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-621442862609073127.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-621442862609073127.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-621442862609073127.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-621442862609073127.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-621442862609073127.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-621442862609073127.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-621442862609073127.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-621442862609073127.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-621442862609073127.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-621442862609073127.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-621442862609073127.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-621442862609073127.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-621442862609073127.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-621442862609073127.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-621442862609073127.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-621442862609073127.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-621442862609073127.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-621442862609073127.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-621442862609073127.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-621442862609073127.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-621442862609073127.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-621442862609073127.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-621442862609073127.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-621442862609073127.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-621442862609073127.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-621442862609073127.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-621442862609073127.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-621442862609073127.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-621442862609073127.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-621442862609073127.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-621442862609073127.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-621442862609073127.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-621442862609073127.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-621442862609073127.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-621442862609073127.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-621442862609073127.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-621442862609073127.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-621442862609073127.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-621442862609073127.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-621442862609073127.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-621442862609073127.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-621442862609073127.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-621442862609073127.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-621442862609073127.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-621442862609073127.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-621442862609073127.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-621442862609073127.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-621442862609073127.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-621442862609073127.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-621442862609073127.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-621442862609073127.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-621442862609073127.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-621442862609073127.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-621442862609073127.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-621442862609073127.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-621442862609073127.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-621442862609073127.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-621442862609073127.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-621442862609073127.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-621442862609073127.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-621442862609073127 .gp-invisible{visibility:hidden}.gps-621442862609073127 .\!gp-absolute{position:absolute!important}.gps-621442862609073127 .gp-absolute{position:absolute}.gps-621442862609073127 .gp-relative{position:relative}.gps-621442862609073127 .gp-top-0{top:0}.gps-621442862609073127 .-gp-z-1{z-index:-1}.gps-621442862609073127 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-621442862609073127 .gp-mb-0{margin-bottom:0}.gps-621442862609073127 .gp-flex{display:flex}.gps-621442862609073127 .gp-inline-flex{display:inline-flex}.gps-621442862609073127 .gp-grid{display:grid}.gps-621442862609073127 .\!gp-hidden{display:none!important}.gps-621442862609073127 .gp-hidden{display:none}.gps-621442862609073127 .gp-h-full{height:100%}.gps-621442862609073127 .gp-w-full{width:100%}.gps-621442862609073127 .gp-max-w-full{max-width:100%}.gps-621442862609073127 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-621442862609073127 .gp-flex-col{flex-direction:column}.gps-621442862609073127 .\!gp-content-stretch{align-content:stretch!important}.gps-621442862609073127 .gp-items-center{align-items:center}.gps-621442862609073127 .gp-justify-center{justify-content:center}.gps-621442862609073127 .\!gp-self-center{align-self:center!important}.gps-621442862609073127 .gp-self-center{align-self:center}.gps-621442862609073127 .gp-overflow-hidden{overflow:hidden}.gps-621442862609073127 .gp-break-words{overflow-wrap:break-word}.gps-621442862609073127 .gp-text-center{text-align:center}.gps-621442862609073127 .gp-no-underline{text-decoration-line:none}.gps-621442862609073127 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-621442862609073127 .gp-duration-200{transition-duration:.2s}.gps-621442862609073127 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-621442862609073127 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-621442862609073127 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-621442862609073127 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-621442862609073127 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-621442862609073127 .tablet\:\!gp-absolute{position:absolute!important}.gps-621442862609073127 .tablet\:\!gp-hidden{display:none!important}.gps-621442862609073127 .tablet\:gp-hidden{display:none}.gps-621442862609073127 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-621442862609073127 .tablet\:gp-justify-center{justify-content:center}.gps-621442862609073127 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-621442862609073127 .mobile\:\!gp-absolute{position:absolute!important}.gps-621442862609073127 .mobile\:\!gp-hidden{display:none!important}.gps-621442862609073127 .mobile\:gp-hidden{display:none}.gps-621442862609073127 .mobile\:\!gp-h-auto{height:auto!important}.gps-621442862609073127 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-621442862609073127 .mobile\:gp-justify-center{justify-content:center}.gps-621442862609073127 .mobile\:\!gp-self-center{align-self:center!important}}.gps-621442862609073127 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-621442862609073127 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-621442862609073127 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-621442862609073127 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-621442862609073127 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRBDlfCaob"}' data-id="gRBDlfCaob" id="gRBDlfCaob" data-same-height-subgrid-container class="gRBDlfCaob gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnrBYL3PF- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMPGTGuNMk"
        class="gMPGTGuNMk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:30px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:30px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ff:var(--g-font-Akira-Expanded-Demo, 'Akira Expanded Demo'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:39px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMPGTGuNMk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggVggH1oLP"
        class="ggVggH1oLP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:30px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:30px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ff:var(--g-font-Akira-Expanded-Demo, 'Akira Expanded Demo'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:20px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggVggH1oLP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
      <gp-hero-banner
        
        data-id="gct4P3y3iv"
        class="gct4P3y3iv gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:flex;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:15px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:15px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:15px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggct4P3y3iv_background_desktop_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":900,"src":"{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggct4P3y3iv_background_desktop_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_547951427142550475-2f0f42f6-bdbf-4a39-9abd-b91f66f97c5f.jpg","height":300,"src":"{{ section.settings.ggct4P3y3iv_background_mobile_image_src }}","storage":"FILE_CONTENT","width":500},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggct4P3y3iv_background_mobile_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gct4P3y3iv","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"original","width":"100%","widthHeightLinked":false},"tablet":{"shape":"original","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"","shape":"original","shapeLinked":true,"width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTUwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}" data-src="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}" data-srcset="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}" data-src="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}" data-srcset="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggct4P3y3iv_background_mobile_image_src }}" data-src="{{ section.settings.ggct4P3y3iv_background_mobile_image_src }}" data-srcset="{{ section.settings.ggct4P3y3iv_background_mobile_image_src }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gNT_XOQjbc gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://boardcollective.com.au/account/register","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:150px;--pb-mobile:0px;--ta:center" >
        <style>[data-id="gSKaOCeNRU"].gp-button-base::before, [data-id="gSKaOCeNRU-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gSKaOCeNRU"]:hover::before, [data-id="gSKaOCeNRU-interaction"]:hover::before {
    border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ffffff;
  
    
  }</style>
        
        <a
          data-id="gSKaOCeNRU" dataId="gSKaOCeNRU" data-state="idle" aria-label="<p>JOIN OUR LOYALTY PROGRAM</p>"
          
          href="https://boardcollective.com.au/account/register" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#ffffff;--hvr-c:#e0e0e0;--c:#151515;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gSKaOCeNRU gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggSKaOCeNRU_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggct4P3y3iv_background_mobile_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTUwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggct4P3y3iv_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjl-tDVjar"
        class="gjl-tDVjar"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ml-mobile:20px;--mb-mobile:20px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Akira-Expanded-Demo, 'Akira Expanded Demo'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjl-tDVjar_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="geBsovWCCB gp-custom-code">
      <div>
    <div class="elfsight-sapp-1a441c4d-002e-4340-9616-56bfee686dd0"></div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-621442862609073127 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/saltwater-wine/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=621442862441038823&sectionId=621442862609073127)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMPGTGuNMk_text","label":"ggMPGTGuNMk_text","default":"<span style=\"font-size:30px;\">SHOP OUR INSTAGRAM | @BOARDCOLLECTIVE</span>"},{"type":"html","id":"gggVggH1oLP_text","label":"gggVggH1oLP_text","default":"<span style=\"font-size:20px;\">SHOP OUR INSTAGRAM | @BOARDCOLLECTIVE</span>"},{"type":"html","id":"ggct4P3y3iv_background_desktop_image_src","label":"ggct4P3y3iv_background_desktop_image_src","default":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/"},{"type":"html","id":"ggct4P3y3iv_background_desktop_video","label":"ggct4P3y3iv_background_desktop_video","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggct4P3y3iv_background_desktop_videoHtml5","label":"ggct4P3y3iv_background_desktop_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggct4P3y3iv_background_mobile_image_src","label":"ggct4P3y3iv_background_mobile_image_src","default":"https://cdn.shopify.com/s/files/1/0512/1464/7447/files/gempages_547951427142550475-2f0f42f6-bdbf-4a39-9abd-b91f66f97c5f.jpg"},{"type":"html","id":"ggct4P3y3iv_background_mobile_video","label":"ggct4P3y3iv_background_mobile_video","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggct4P3y3iv_background_mobile_videoHtml5","label":"ggct4P3y3iv_background_mobile_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggSKaOCeNRU_label","label":"ggSKaOCeNRU_label","default":"<p>JOIN OUR LOYALTY PROGRAM</p>"},{"type":"html","id":"ggjl-tDVjar_text","label":"ggjl-tDVjar_text","default":"<span style=\"font-size:17px;\">shop our instagram | @boardcollective_</span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}